.controller.edit {
 background: url(https://norbert79.sytes.net/gamepadviewer/assets/base.svg);
} 

.edit.disconnected {
  background: url(https://norbert79.sytes.net/gamepadviewer/assets/disconnected.svg);
}

.edit .quadrant {
  display: none;
}

.edit .p0 {
    display: none;
}

.edit .p1 {
    display: none;
}

.edit .p2 {
    display: none;
}

.edit .p3 {
    display: none;
}

.edit .back, .edit .start {
    background: url(https://norbert79.sytes.net/gamepadviewer/assets/start-select.svg);
    width: 33px;
    height: 33px;
    opacity: 0;
}

.edit .back.pressed, .edit .start.pressed {
    opacity: 1;
}

.edit .back {
    float: left;
}

.edit .start {
    background-position: 33px 0px;
    float: right;
}

.edit .button {
  position: absolute;
  background: url(https://norbert79.sytes.net/gamepadviewer/assets/buttons.svg);
}

.edit .button.pressed {
    background-position-y: -49px;
	margin-top: 5px;
    opacity: 1;
}

.edit .a {
    background-position: 0 0;
    top: 108px;
    left: 55px;
}

.edit .b {
    background-position: -49px 0;
    top: 58px;
    right: 1px;
}

.edit .x {
    background-position: -98px 0;
    top: 58px;
    left: 4px;
}

.edit .y {
    background-position: 48px 0;
    left: 54px;
    top: 7px;
}
